In [13]:
import numpy as np
import pandas as pd
from datetime import datetime

In [14]:
df=pd.read_csv("final_list.csv")
df.shape

(510526, 46)

In [8]:
df1=df.loc[df["index"]==1]

In [15]:
df.tail()

,Unnamed: 0,TS_RECV,srl,TS,V1,V2,V3,A1,A2,A3,...,AvgVAr,SumVAr,AvgPF,SumPF,AvgAng,SumAng,F,FwdWh,index,date
510521,4006,1.556649e+09,18095.0,1.556649e+09,234.295074,232.339050,237.314133,0.0,0.265643,0.768150,...,-17.795263,-53.385792,0.549810,2.145061,303.343292,609.959351,50.051071,4227686.0,61,2019-04-30
510522,4007,1.556649e+09,18096.0,1.556649e+09,234.392395,232.451340,237.244156,0.0,0.275736,0.784577,...,-18.851826,-56.555477,0.536015,2.110034,302.401886,607.486633,50.050472,4227686.0,61,2019-04-30
510523,4008,1.556649e+09,18097.0,1.556649e+09,233.987778,232.771698,237.267761,0.0,0.266943,0.769692,...,-18.519617,-55.558853,0.541044,2.130534,302.743958,608.961121,50.035496,4227686.0,61,2019-04-30
510524,4009,1.556649e+09,18098.0,1.556649e+09,234.071030,232.754456,237.303436,0.0,0.266238,0.753697,...,-18.975185,-56.925556,0.534216,2.113892,302.279846,607.791199,50.032536,4227686.0,61,2019-04-30
510525,4010,1.556649e+09,18099.0,1.556649e+09,234.151001,232.766190,237.097153,0.0,0.268880,0.792968,...,-18.538219,-55.614658,0.539546,2.122111,302.641876,608.341675,50.035950,4227686.0,61,2019-04-30

In [51]:
df.columns

Index(['Unnamed: 0', 'TS_RECV', 'srl', 'TS', 'V1', 'V2', 'V3', 'A1', 'A2',
       'A3', 'W1', 'W2', 'W3', 'VA1', 'VA2', 'VA3', 'VAR1', 'VAR2', 'VAR3',
       'PF1', 'PF2', 'PF3', 'Ang1', 'Ang2', 'PF3r', 'Ang1r', 'Ang2r', 'Ang3',
       'AvgV', 'SumV', 'AvgA', 'SumA', 'AvgW', 'SumW', 'AvgVA', 'SumVA',
       'AvgVAr', 'SumVAr', 'AvgPF', 'SumPF', 'AvgAng', 'SumAng', 'F', 'FwdWh',
       'index'],
      dtype='object')

In [56]:
df.select_dtypes(include=np.number).columns

Index(['Unnamed: 0', 'TS_RECV', 'srl', 'TS', 'V1', 'V2', 'V3', 'A1', 'A2',
       'A3', 'W1', 'W2', 'W3', 'VA1', 'VA2', 'VA3', 'VAR1', 'VAR2', 'VAR3',
       'PF1', 'PF2', 'PF3', 'Ang1', 'Ang2', 'PF3r', 'Ang1r', 'Ang2r', 'Ang3',
       'AvgV', 'SumV', 'AvgA', 'SumA', 'AvgW', 'SumW', 'AvgVA', 'SumVA',
       'AvgVAr', 'SumVAr', 'AvgPF', 'SumPF', 'AvgAng', 'SumAng', 'F', 'FwdWh',
       'index'],
      dtype='object')

In [5]:
df1["V1"]

0        233.319061
1        233.310638
2        233.382965
3        233.153030
4        233.346985
            ...
15806    239.424728
15807    239.512100
15808    239.644699
15809    239.509079
15810    239.566086
Name: V1, Length: 15811, dtype: float64

In [7]:
str="Apartment_B/2019-03-01"
str1=str.split("/")
print(str1)

['Apartment_B', '2019-03-01']

In [14]:
date=datetime.strptime(str1[1],"%Y-%m-%d")
date.year

2019